* {
  font-family: poppins, sans-serif;
  line-height: normal;
  z-index: 1;
  color: var(--dark15);
}
html {
  scroll-behavior: smooth;
}
.sticked {
  position: fixed;
  top: 0;
  z-index: 20;
  box-shadow: 1px 1px 7px 1px rgba(128, 128, 128, 0.336);
}

:root {
  --godlBlue1: #0d99ff;
  --goldBlue2: #1a73e8; /*google*/
  --goldBlue3: #1c9ad7; /*compainha propria*/
  --mainBlue1: #ecf2f9;
  --mainBlue2: #d9e6f2;
  --mainBlue3: #c6d9ec;
  --mainBlue4: #b3cce6;
  --mainBlue5: #9fbfdf;
  --mainBlue6: #8cb3d9;
  --mainBlue7: #79a6d2;
  --mainBlue8: #6699cc;
  --mainBlue9: #538cc6;
  --mainBlue10: #4080bf;
  --mainBlue11: #3973ac;
  --mainBlue12: #336699;
  --mainBlue13: #2d5986;
  --mainBlue14: #264d73;
  --mainBlue15: #204060;
  --mainBlue16: #19334d;
  --mainBlue17: #132639;
  --mainBlue18: #0d1a26;
  --mainBlue19: #060d13;
  --mainBlue20: #000000;
  /*GREEN*/
  --mainGreen1: #ffffff;
  --mainGreen1: #e6ffe6;
  --mainGreen2: #ccffcc;
  --mainGreen3: #b3ffb3;
  --mainGreen4: #99ff99;
  --mainGreen5: #80ff80;
  --mainGreen6: #66ff66;
  --mainGreen7: #4dff4d;
  --mainGreen8: #33ff33;
  --mainGreen9: #1aff1a;
  --mainGreen10: #00ff00;
  --mainGreen11: #00e600;
  --mainGreen12: #00cc00;
  --mainGreen13: #00b300;
  --mainGreen14: #009900;
  --mainGreen15: #008000;
  --mainGreen16: #006600;
  --mainGreen17: #004d00;
  --mainGreen18: #003300;
  --mainGreen19: #001a00;
  --mainGreen20: #000000;
  /*GREY*/
  --dark1: #ffffff;
  --dark1: #f2f2f2;
  --dark2: #e6e6e6;
  --dark3: #d9d9d9;
  --dark4: #cccccc;
  --dark5: #bfbfbf;
  --dark6: #b3b3b3;
  --dark7: #a6a6a6;
  --dark8: #999999;
  --dark9: #8c8c8c;
  --dark10: #808080;
  --dark11: #737373;
  --dark12: #666666;
  --dark13: #595959;
  --dark14: #4d4d4d;
  --dark15: #404040;
  --dark16: #333333;
  --dark17: #262626;
  --dark18: #1a1a1a;
  --dark19: #0d0d0d;
  --dark20: #000000;

  /*COMPLEMENTAR*/

  --complementar1: #ffffff;
  --complementar1: #fff7e6;
  --complementar2: #ffeecc;
  --complementar3: #ffe6b3;
  --complementar4: #ffdd99;
  --complementar5: #ffd480;
  --complementar6: #ffcc66;
  --complementar7: #ffc34d;
  --complementar8: #ffbb33;
  --complementar9: #ffb31a;
  --complementar10: #ffaa00;
  --complementar11: #e69900;
  --complementar12: #cc8800;
  --complementar13: #b37700;
  --complementar14: #996600;
  --complementar15: #805500;
  --complementar16: #664400;
  --complementar17: #4d3300;
  --complementar18: #332200;
  --complementar19: #1a1100;
  --complementar20: #000000;
}
body {
  margin: 0px;
  padding: 0px;
  background-color: #f0f2f5;
}
.cor-azul {
  color: var(--godlBlue1);
  font-weight: normal;
}
.txtOcultoMediaQ {
  display: none;
}
@media only screen and (min-width: 800px) {
  .txtOcultoMediaQ {
    display: block;
  }
}
.div-tittle {
}
.tittle-tittle {
  font-size: 2.5rem !important;
  font-weight: 700;
  margin: 0;
  text-transform: uppercase;
}
.tittle-subtittle {
  font-size: 2rem !important;
  color: var(--dark12);
}
.tittle-description {
  font-size: 1.2rem;
}
.div-tittle-servicos {
  padding-left: 5%;
  padding-right: 5%;
  padding-top: 5%;
  background-color: white;
  padding-bottom: 20px;
}
.div-tittle-experiencias {
  padding-left: 5%;
  padding-right: 5%;
  background-color: white;
  padding-top: 5%;
  text-align: center;
  & p {
    margin-bottom: 0;
  }
}
.div-tittle-colaboracao {
  padding-left: 5%;
  padding-right: 5%;
  padding-top: 5%;
  background-color: white;
  padding-bottom: 20px;
  text-align: center;
  /*background: linear-gradient(90deg, white, var(--mainGreen1));*/
  & p {
    margin-bottom: 0;
  }
}
.div-tittle-portfolio {
}
.div-tittle-testemunhas {
  background-color: white;
  padding-bottom: 20px;
}
.div-tittle-about .tittle-tittle {
  font-size: 1.9rem !important;
}
.div-tittle-contactos {
  text-align: center;
  /* & h1{
    color: var(--mainBlue8)!important;
  }*/
}
@media only screen and (min-width: 800px) {
  .div-tittle-colaboracao {
    padding-left: 10%;
    padding-right: 10%;
    text-align: unset;
  }
  .div-tittle-servicos {
    padding-left: 10%;
    padding-right: 10%;
  }
  .div-tittle-experiencias {
    padding-left: 10%;
    padding-right: 10%;
  }
}
/*Header Costomisation*/
#top-info {
  background-color: white;
  height: 30px;
  padding: 0px 10px 0px 10px;
  display: flex;
  align-items: center;
  font-family: monospace;
  color: var(--mainBlue6);
}
#top-info .networks-set {
  display: flex;
  height: 100%;
  margin-right: 10px;
  border-right: 1px solid var(--mainBlue1);
  align-items: center;
  margin-left: 0;
}
#top-info .networks-set a {
  height: 25px;
  width: 25px;
  margin-right: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  text-decoration: none;
  background-color: var(--mainBlue1);
  /*box-shadow: inset 10px 0px 0px var(--mainBlue5);*/
}
#top-info .networks-set a i {
  color: var(--mainBlue6);
}
#top-info .top-Email-Icon {
  color: var(--mainBlue1);
  font-size: 25px;
}
header {
  background-color: var(--mainBlue1);
  height: 70px;
  display: flex;
  align-items: center;
  padding-left: 5%;
  padding-right: 0%;
  justify-content: space-between;
  width: 100%;
  object-fit: cover;
  box-sizing: border-box;
  transition: all 1s;
  margin-bottom: 0;
}
.logo {
  font-size: 30px;
  color: var(--mainBlue1);
  /*
    background: linear-gradient(45deg, var(--mainBlue1), var(--mainBlue7));
   -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;*/
  font-weight: 500;
}
.header-action {
  display: flex;
  align-items: center;
}
.header-action i {
  display: block;
  font-size: 40px;
  color: var(--mainBlue6);

  /*font-size: 35px;
  color: white;
  background-color: var(--mainBlue3);
  border: 1px solid var(--mainBlue6);
  border-radius: 4px;*/
}
.header-action nav {
  display: none;
}
.header-action nav a {
  text-decoration: none;
  color: var(--mainBlue10);
  padding: 10px;
  border-radius: 4px;
  font-size: 12px;
  transition: all 0.8s;
  text-transform: uppercase;
}
.header-action nav a:hover {
  background-color: var(--mainBlue4);
}
@media only screen and (min-width: 800px) {
  header {
    padding-left: 10%;
    padding-right: 10%;
  }
  .header-action nav {
    display: flex;
  }
  .header-action i {
    display: none;
  }
  #top-info .networks-set {
    margin-left: 8%;
  }
}
.button {
  background-color: var(--mainBlue6);
  color: white;
  border: none;
  padding: 10px 20px;
  margin: 10px;
  border-radius: 20px;
  font-weight: 600;
  transition: all 0.8s;
}
.btn-contratar {
  background-color: var(--mainBlue3);
  border: 1px solid var(--mainBlue6);
}
.button:hover {
  border: 1px solid var(--mainBlue9);
  background-color: var(--mainBlue4);
  box-sizing: border-box;
}
/*End of header costomisation*/
.section-banner {
  /*background: url(../assets/images/bg-image.png);*/
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  flex-direction: column-reverse;
  padding: 0% 10% 0% 10%;
  background-color: white;
  box-sizing: border-box;
  object-fit: cover;
}
@media only screen and (min-width: 800px) {
  .section-banner {
    flex-direction: row;
    height: calc(100vh - 104px);
    justify-content: space-between;
  }
}
.section-banner .banner-description-side {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.section-banner .banner-description-side .banner-txt-head {
  font-size: 2.17rem;
  color: var(--mainBlue13);
  margin-top: 0;
  margin-bottom: 15px;
}
.section-banner .banner-description-side .banner-txt-tittle {
  color: var(--mainBlue12);
  font-size: 3.22rem;
  font-weight: 600;
  /*-webkit-text-stroke-width: 2px;
  -webkit-text-stroke-color: var(--mainBlue13);*/
  & .ElisabetTxt {
    background: linear-gradient(45deg, #4e7efe, #0d99ff, #4e7efe);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
}
.hand-animated {
  display: inline-block;
  animation: wave-hand 1.5s ease-in-out infinite;
  transform-origin: 70% 70%; /* ponto de rotação (ajusta conforme quiser) */
}

@keyframes wave-hand {
  0% {
    transform: rotate(0deg);
  }
  20% {
    transform: rotate(14deg);
  }
  40% {
    transform: rotate(-8deg);
  }
  60% {
    transform: rotate(14deg);
  }
  80% {
    transform: rotate(-4deg);
  }
  100% {
    transform: rotate(0deg);
  }
}
.section-banner .banner-description-side .banner-txt-description {
  font-size: 1.27rem;
  color: var(--mainBlue12);
}

.banner-acssoes {
  display: flex;
  flex-direction: column;
}
@media only screen and (min-width: 800px) {
  .section-banner .banner-description-side .banner-txt-head {
    font-size: 2.9rem;
  }
  .section-banner .banner-description-side .banner-txt-tittle {
    font-size: 4.3rem;
  }
  .section-banner .banner-description-side .banner-txt-description {
    font-size: 1.7rem;
  }

  .banner-acssoes {
    flex-direction: row;
  }
}
.banner-acssoes button {
  padding: 10px 20px;
  font-size: 20px;
  margin: 10px;
  border-radius: 25px;
  font-weight: 400;
  transition: all 0.8s;
  outline-style: none;
}
.banner-acssoes-btn1 {
  background-color: var(--mainBlue9);
  color: whitesmoke;
  border: none;
  line-height: normal;
  display: flex;
  align-items: center;

  box-shadow: 0 14px 20px -8px rgba(0, 70, 255, 0.4);
  background-color: #4e7efe;
  color: #fff;
  & span {
    color: var(--mainBlue1);
    margin-left: 5px;
  }
}
.banner-acssoes-btn2 {
  background-color: var(--mainBlue1);
  color: var(--mainBlue9);
  border: 1px solid var(--mainBlue9);
}
.section-banner .banner-image-side {
  display: flex;
  align-items: center;
  justify-content: center;
  object-fit: cover;
  box-sizing: border-box;

  overflow: hidden;
}
/*.banner-image-background {
  height: 500px;
  width: 500px;
  border-radius: 250px;
  position: absolute;
  z-index: -1;
  background: radial-gradient(var(--mainBlue7), var(--mainBlue1), white, white);
}*/
.banner-image-side img {
  max-width: 500px;
  max-height: 500px;
  opacity: 0.8;
  filter: grayscale(10%);
}
/*SECTION SERVICES*/
.section-services {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-top: 2%;
  background-color: white;
}
@media only screen and (min-width: 800px) {
  .section-services {
    flex-direction: row;
    justify-content: center;
  }
}
.card {
  background-color: white;
  width: 280px;
  padding: 10px;
  margin: 10px;
  border-radius: 4px;
  box-shadow: 0rem 1rem 1.8rem rgba(47, 31, 138, 0.15);
}
.card:first-child {
  box-shadow: 0rem 0.5rem 0.9rem rgba(47, 31, 138, 0.08);
}
.card:last-child {
  box-shadow: 0rem 0.5rem 0.9rem rgba(47, 31, 138, 0.08);
}
.card-services {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.card-services-head {
  background-color: var(--mainBlue1);
  border: 1px solid var(--mainBlue2);
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 10px;
}
.card-services-head h4 {
  color: var(--mainBlue8);
}
.section-services .card-services p {
  font-size: 0.96rem;
  color: var(--dark12);
  font-weight: 300;
}
.section-services .card-services i {
  font-size: 80px;
  color: var(--mainGreen12);
}

.section-services .card-services svg {
  display: none !important;
}
.card-services p {
  text-align: center;
}
/*ADDs COSTOMIZATION*/
.horizontal-add {
  padding-top: 5%;
  padding-left: 10%;
  padding-right: 10%;
}
.horizontal-add div {
  background-color: var(--mainBlue5);
  display: flex;
  align-items: center;
  justify-content: center;
  max-height: 200px;
}
/*RESUME SECTION COSTOMIZATION*/
.section-resume {
  padding-left: 10%;
  padding-right: 10%;
  background-color: white;
  box-sizing: border-box;
  object-fit: cover;
  padding-top: 2%;
  padding-bottom: 5%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.section-resume-set {
  padding-left: 2%;
  border-left: 2px dashed var(--dark1);
  position: relative;
  counter-reset: resume-counter 5;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: left;
  width: 100%;
}
@media only screen and (min-width: 800px) {
  .section-resume {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    align-items: center;
  }
  .section-resume-set {
    width: 50%;
  }
}
.section-resume-set .resume-item {
  border: 1px solid var(--mainBlue2);
  /*background-color: var(--mainBlue1);*/
  box-shadow: 1px 1px 7px 1px var(--dark1);
  margin: 15px 0px;
  padding: 10px 20px;
  border-radius: 4px;
  display: flex;
  align-items: flex-start;
  height: 85px;
}
.resume-item-date {
  position: relative;
  width: 20%;
  height: 100%;
  margin: 0;
  display: flex;
  flex-direction: column;
  & small {
    margin-top: 16px;
    margin-bottom: 8px;
    font-size: 11px;
    color: var(--dark9);
  }
}
.resume-item-date span {
  position: absolute;
  width: 200px;
  bottom: -7px;
  left: 43px;
}
.resume-item-enterprise {
  width: 70%;
  display: flex;
  flex-direction: column;
}
.resume-item-enterprise span:first-child {
  font-weight: 600;
  font-size: 14px;
}
.resume-item-enterprise span:last-child {
  background-color: var(--dark1);
  width: 100%;
  padding: 2px 10px;
  border-radius: 4px;
  font-size: 13px;
  margin: 4px 0px;
  color: var(--mainGreen15);
}
.resume-item-year {
  width: 10%;
  text-align: end;
  text-transform: uppercase;
  font-weight: 600;
  font-size: 0.8rem;
  color: var(--dark9);
}
.section-resume-set .resume-item::after {
  counter-increment: resume-counter -1;
  content: counter(resume-counter);
  /*content: '';*/
  position: absolute;
  width: 40px;
  height: 40px;
  background-color: rgba(255, 255, 255, 0.356);
  border: 1px solid var(--mainBlue5);
  border-radius: 50%;
  left: -22px;
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: center;
  color: var(--mainGreen14);
  font-weight: 800;
}
.resume-left {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-right: 5%;
  box-sizing: border-box;
}
@media only screen and (min-width: 800px) {
  .resume-left {
    height: 578px;
    width: 600px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .resume-item-enterprise span:last-child {
    width: 35%;
  }
  .resume-item-date {
    position: static;
  }
  .resume-item-date span {
    position: static;
    width: none;
    bottom: 0;
    left: 0;
  }
}
.resume-left span {
  display: flex;
  flex-direction: column;
  margin-top: 0;
  height: 100%;
  width: 100%;
}
.resume-left span h5 {
  margin-bottom: 0;
  font-weight: 300;
}
.resume-left span h4 {
  margin-bottom: 0;
  margin-top: 10px;
  font-size: 2rem !important;
}

.resume-left span ul li {
  list-style: none;
  & i {
    margin-right: 5px;
    font-size: 18px;
    font-weight: 100;
    line-height: normal;
  }
}
.resume-left span .resume-action {
  justify-content: center;
  /*
  padding: 0px 20px;
  background-color: var(--mainBlue1);
  border-radius: 4px;
  */
}
.resume-left span .resume-action button {
  background-color: white;
  border: 1px solid var(--godlBlue1);
  color: var(--godlBlue1);
  padding: 5px 20px;
  border-radius: 20px;

  outline-color: var(--mainBlue1);
  outline-width: 3px;
  outline-style: solid;
}
.resume-left img {
  max-width: 100%;
  max-height: 100%;
}
/*SECTION OF ENTERPRISES*/
.section-enterprises {
  /*background: linear-gradient(90deg, white, var(--mainGreen1));*/
  background-color: rgb(250, 250, 250);
  height: 150px;
  max-width: 100%;
  overflow: hidden;
  padding-bottom: 2%;
  padding-right: 10%; /*Para costomizar o estatico*/
  padding-left: 10%; /*Para costomizar o estatico*/
}
.section-enterprises .enterprises-set {
  display: flex;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
  object-fit: cover;
  /*animation: transitionHorizontal 25s infinite linear;*/
  position: relative;
  /*width: max-content; OBS super box sizing */
  width: 100%; /*Para costomizar o estatico*/
  justify-content: space-between; /*Para costomizar o estatico*/
  height: 100%;
}
@keyframes transitionHorizontal {
  0% {
    transform: translateX(-100%);
    left: 0;
  }
  100% {
    transform: translateX(100vw);
    left: 0;
  }
}
.section-enterprises .enterprises-set div {
  width: 100px;
  margin: 10px 50px;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--dark10);
}

.section-enterprises .enterprises-set div img {
  max-width: 150px;
  max-height: 150px;
  filter: blur(20px);
  filter: grayscale(100%);
  opacity: 0.4;
  transition: all 0.7s;
}
.section-enterprises .enterprises-set div svg {
  filter: blur(20px);
  filter: grayscale(100%);
  opacity: 0.4;
  transition: all 0.7s;
}
.section-enterprises .enterprises-set div img:hover {
  filter: blur(0);
  filter: grayscale(0);
  opacity: 0.9;
}
.section-enterprises .enterprises-set div svg:hover {
  filter: blur(0);
  filter: grayscale(0);
  opacity: 0.9;
}
/*SECTION OF PORTFOLIO*/
.section-portfolio {
  background-color: white;
  padding-left: 10%;
  padding-right: 10%;
  display: flex;
  flex-direction: column;
  padding-bottom: 100px;
  padding-top: 5%;
}

.section-portfolio .portfolio-tabs {
  border: 1px solid var(--mainBlue2);
  display: flex;
  justify-content: center;
  border-radius: 40px;
  width: fit-content;
  padding: 5px;
  cursor: pointer;
  align-self: center;
}
.section-portfolio .portfolio-tabs .portfolio-tabs-item {
  background-color: var(--mainBlue1);
  width: 70px;
  padding: 10px;
  border-radius: 40px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  color: var(--mainBlue3);
  font-weight: 600;
  margin-right: 10px;
}
@media only screen and (min-width: 800px) {
  .section-portfolio .portfolio-tabs {
    border-radius: 40px;
    width: fit-content;
    padding: 5px;
  }
  .section-portfolio .portfolio-tabs .portfolio-tabs-item {
    width: 100px;
    padding: 10px;
    border-radius: 40px;
    font-weight: 600;
    margin-right: 10px;
  }
}
.section-portfolio .portfolio-tabs .portfolio-tabs-item.active {
  background-color: var(--mainBlue4);
  color: white;
}
.section-portfolio .portfolio-tabs .portfolio-tabs-item:last-child {
  margin-right: 0;
}
.section-portfolio .portfolio-items-set {
  margin-top: 20px;
  min-height: 500px;
  width: 100%;
  box-sizing: border-box;
  object-fit: cover;
}
.section-portfolio .portfolio-items-set .portfolio-item {
  height: 100%;
  transition: all 1s;
  display: none;
  box-sizing: border-box;
  object-fit: cover;
}
.section-portfolio .portfolio-items-set .portfolio-item.active {
  display: flex;
  flex-direction: column;
  /*justify-content: space-around;
  flex-wrap: wrap;*/
}
.section-portfolio .portfolio-items-set .portfolio-item div {
  max-width: 100%;
  display: flex;
  height: fit-content;
  flex-direction: column;
  padding: 10px;
  border-radius: 5px;
  box-sizing: border-box;
  object-fit: cover;
  margin-bottom: 20px;
  /*border: 1px solid var(--mainBlue1);*/
  position: relative;
  box-shadow: 0rem 0.5rem 0.9rem rgba(47, 31, 138, 0.08);
}
/*OBS REVER ESTE MEDIA QUERY. É MAIS PRATICO ASSIM?*/
@media only screen and (min-width: 800px) {
  .section-portfolio .portfolio-items-set .portfolio-item.active {
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
  }
  .section-portfolio .portfolio-items-set .portfolio-item div {
    max-width: 49%;
    height: fit-content;
  }
}
.section-portfolio .portfolio-items-set .portfolio-item div img {
  max-height: fit-content;
  max-width: 100%;
}
.section-portfolio .portfolio-items-set .portfolio-item div span {
  color: var(--dark18);
  cursor: pointer;
  border-radius: 20px;
  background-color: #ecf2f98f;
  position: absolute;
  bottom: 0;
  width: calc(100% - 40px);
  padding: 5px 10px;
  font-size: 15px;
  margin: 10px;
  margin-bottom: 20px;
  box-sizing: border-box;
  object-fit: cover;
  & i {
    background-color: #ecf2f9;
    padding: 10px;
    border-radius: 50%;
    color: dodgerblue;
  }
}
.section-portfolio .portfolio-items-set .portfolio-item div span a {
  color: dodgerblue;
  text-decoration: underline;
}
/*SECÇÂO DE DEPOIMENTOS*/
.section-testimony {
  padding-left: 5%;
  padding-right: 5%;
  padding-top: 2%;
  padding-bottom: 10%;
  background-color: white;
  display: flex;
  flex-direction: column;
}
.section-testimony .div-tittle-testemunhas b {
  font-size: 1.5rem !important;
  color: var(--dark12);
}
.section-testimony .testimony-set {
  background-color: var(--mainBlue1);
  border: 1px dashed var(--mainBlue2);
  display: flex;
  flex-direction: column;
  position: relative;
  width: fit-content; /*para ocultar o .textimony-item-set e meter o título ao lado  310px*/
  height: fit-content;
}
@media only screen and (min-width: 800px) {
  .section-testimony {
    flex-direction: row;
    padding-left: 10%;
    padding-right: 10%;
  }
  .section-testimony .testimony-set {
    flex-direction: row;
  }
}
.testimony-item-text {
  width: 310px;
  height: 250px;
  margin: 20px;
  border-radius: 4px;
  display: flex;
  align-items: center;
  /*background: linear-gradient(90deg, rgba(255, 255, 255, 0.829), transparent);*/
  padding: 0 20px;
  & span {
    font-size: 1.9rem;
    font-weight: 600;
    color: var(--dark13);
    /*background: linear-gradient(
      45deg,
      var(--mainBlue15),
      var(--mainBlue10),
      var(--mainBlue14)
    );
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;*/
  }
}
.section-testimony .testimony-set .testimony-item {
  width: 250px;
  height: 250px;
  background-color: white;
  margin: 20px;
  border-radius: 4px;
  box-shadow: 1px 1px 7px 1px rgba(87, 87, 87, 0.055);
}

.section-testimony .testimony-set .testimony-item .testimony-item-head {
  display: flex;
}
.section-testimony .testimony-set .testimony-item .testimony-item-body {
  padding-left: 10px;
  padding-right: 10px;
}
.section-testimony
  .testimony-set
  .testimony-item
  .testimony-item-body
  .testimony-item-body-tittle {
  font-size: 15px;
  font-weight: 600;
  margin-bottom: 5px;
  color: var(--dark16);
}
.section-testimony .testimony-set .testimony-item .testimony-item-body small {
  font-size: 11px;
  color: var(--dark12);
}
.section-testimony
  .testimony-set
  .testimony-item
  .testimony-item-body
  .testimony-item-body-description {
  font-size: 14px;
  color: var(--dark17);

  & sup .fa-quote-left {
    font-size: 7px;
    color: var(--mainBlue7);
  }

  & sup .fa-quote-right {
    font-size: 7px;
    color: var(--mainBlue7);
  }
}
.section-testimony .testimony-set svg {
  position: absolute;
  right: 0px;
  top: -25px;
  z-index: 2;
  & ellipse {
    fill: white;
    filter: drop-shadow(1px 1px 12px rgba(128, 128, 128, 0.075));
  }
  & path {
    filter: drop-shadow(1px 1px 7px rgba(128, 128, 128, 0.219));
  }
}
.svg-line path {
  stroke: var(--mainBlue2);
}
/*SECTION MORE*/
.section-more {
  display: flex;
  justify-content: end;
  padding: 0 10%;
  align-items: center;
  /*background: url(../assets/images/blueBanner.png);
  background-repeat: no-repeat;
  background: linear-gradient(90deg, var(--mainBlue1), white);
  */
}
.section-habilities {
  padding: 5%;
  background-color: var(--dark1);
}
.section-habilities div {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}
.section-habilities div span {
  border-radius: 20px;
  border: 1px solid var(--dark6);
  font-size: 14px;
  font-weight: 500;
  background-color: white;
  border-radius: 20px;
  padding: 5px 20px;
  margin: 10px 20px;
}
@media only screen and (min-width: 800px) {
  .section-testimony .testimony-set svg {
    right: -25px;
    top: -25px;
  }
}
/*SECTION ABOUT*/
.section-about {
  background-color: white;
  padding: 5% 10%;
}
.section-about .about-div {
  display: flex;
  flex-direction: column;
  background: rgba(255, 255, 255, 0.65);
  box-shadow: 0 12px 48px -8px rgba(0, 0, 0, 0.16);
  padding: 20px;
  border-radius: 5px;
  background-color: white;
  align-items: center;
}
.section-about .about-div .about-img {
  height: 100px;
  width: 100px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--mainBlue1);
}
.section-about .about-div .about-img img {
  max-width: 90%;
  max-height: 90%;
  position: relative;
  top: -18px;
  filter: grayscale(40%);
  opacity: 0.9;
}
.section-about .about-div .about-txt {
  margin-left: 20px;
  width: 90%;
  display: flex;
  flex-direction: column;
  & b {
    color: var(--dark10);
  }
}
.section-about .about-div .about-txt strong {
  color: var(--dark12);
  margin-bottom: 5px;
  font-size: 1.5rem;
}
.section-about .about-div .about-txt span {
  color: var(--dark12);
  & i {
    margin-right: 7px;
    background-color: var(--mainBlue1);
    color: var(--mainBlue5);
    height: 30px;
    width: 30px;
    border-radius: 15px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
  }
}
@media only screen and (min-width: 800px) {
  .section-about .about-div {
    display: flex;
    flex-direction: row;
    align-items: center;
  }
}
/*CONTOMIZATION OF CONTACTS SECTION*/
.section-contacts {
  background-color: white;
  padding-left: 5%;
  padding-right: 5%;
  padding-top: 5%;
  padding-bottom: 5%;
}
.section-contacts-set {
  display: flex;
  align-items: center;
  flex-direction: column-reverse;
  padding: 10px;
  box-sizing: border-box;
  object-fit: cover;
  border-radius: 5px;
  box-shadow: 0px 10px 20px rgba(50, 64, 74, 0.1);
}
.mapa {
  width: 100%;
  height: calc(100% / 3);
  box-sizing: border-box;
  border: 2px dashed var(--mainBlue5);
  margin-right: 0;
}
.section-contacts-set .contacts {
  display: flex;
  flex-direction: column;
  width: 100%;
  box-sizing: border-box;
  padding: 0 0;
}
@media only screen and (min-width: 800px) {
  .section-contacts {
    padding-left: 10%;
    padding-right: 10%;
  }
  .section-contacts-set {
    flex-direction: row;
    height: 395px;
  }
  .mapa {
    width: calc(100% / 3);
    height: 100%;
    margin-right: 10px;
  }
  .section-contacts-set .contacts {
    width: calc(100% / 3);
    padding: 0 20px;
  }
}
.section-contacts-set .contacts .contacts-txt1 {
  margin: 0;
  font-size: 30px;
  font-weight: 600;
}
.section-contacts-set .contacts .contacts-txt2 {
  margin-top: 10px;
}
.section-contacts-set .contacts .contacts-item {
  background-color: var(--mainBlue1);
  padding: 20px;
  margin: 5px 0px;
  border-radius: 4px;
  display: flex;
  align-items: center;
}
.form-contacto {
  display: flex;
  flex-direction: column;
  height: calc(100% / 3);
  width: 100%;
  background-color: var(--mainBlue1);
  padding: 0 20px;
  box-sizing: border-box;
  justify-content: space-between;
  padding-top: 20px;
  padding-bottom: 20px;
}
@media only screen and (min-width: 800px) {
  .form-contacto {
    height: 100%;
    width: calc(100% / 3);
  }
  .section-contacts-set .contacts .contacts-item {
    margin: 5px;
  }
}
.form-contacto input {
  height: 35px;
  border: 1px solid var(--mainBlue2);
  padding: 5px 10px;
  box-sizing: border-box;
  object-fit: cover;
  margin-bottom: 5px;
  border-radius: 4px;
  outline-style: none;
}
.form-contacto input:focus {
  box-sizing: border-box;
  object-fit: cover;
  outline-color: var(--mainBlue1);
  outline-width: 3px;
  outline-style: solid;
}
.form-contacto button {
  height: 35px;
  border: 1px solid var(--mainBlue2);
  padding: 5px 10px;
  margin-bottom: 5px;
  border-radius: 4px;
  outline-style: none;
  color: var(--mainBlue10);
  background-color: var(--mainBlue1);
  font-weight: 600;
  font-size: 14;
  & i {
    color: var(--mainBlue4);
  }
}
.form-contacto textarea {
  resize: none;
  height: 90px;
  border: 1px solid var(--mainBlue2);
  padding: 5px 10px;
  box-sizing: border-box;
  object-fit: cover;
  margin-bottom: 5px;
  border-radius: 4px;
  outline-style: none;
}
.form-contacto textarea:focus {
  box-sizing: border-box;
  object-fit: cover;
  outline-color: var(--mainBlue1);
  outline-width: 3px;
  outline-style: solid;
}
.contacts-item .fa-icon2 {
  color: var(--mainBlue8);
  background-color: transparent;
  font-size: 30px;
  height: 30px;
  width: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 4px;
  margin-right: 20px;
}
.contacts-item .fa-icon3 {
  color: white;
  background-color: var(--mainBlue8);
  height: 30px;
  width: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 4px;
  margin-right: 10px;
}
/*FOOTER COSTOMIZATION*/
footer {
  display: flex;
  flex-direction: column;
  background-color: var(--dark1);
}
.footer-top {
  display: flex;
  align-items: center;
  /*background-color: var(--mainBlue6);
  color: var(--complementar1);*/
  height: 70px;
  justify-content: center;
  background-color: whitesmoke;
  color: var(--dark10);
  font-size: 12px;
}
.footer-top a {
  /*color: var(--mainBlue1);*/
  color: var(--dark10);
  font-weight: 600;
  margin-left: 5px;
  font-size: 12px;
}
footer .footer-span-heart {
  color: #af7b2d;
  font-size: 14px;
  animation: Heart-Animation 2s ease infinite;
  /*animation: Heart-Animation 2s cubic-bezier(0.87, 0.19, 0, 0.65) infinite;*/
  width: 30px;
  box-sizing: border-box;
  object-fit: cover;
  text-align: center;
}
@keyframes Heart-Animation {
  0% {
    font-size: 8px;
    color: #af7b2d;
    opacity: 1;
  }
  50% {
    font-size: 18px;
    color: red;
  }
  100% {
    font-size: 8px;
    color: #af7b2d;
    opacity: 0;
  }
}
.footer-buttom {
  display: flex;
  justify-content: center;
  padding-top: 50px;
  box-sizing: border-box;
  /*background-color: var(--mainBlue5);*/
  background-color: whitesmoke;
  flex-wrap: wrap;
  font-size: 13px;
}

.footer-buttom ul {
  padding-left: 20px;
  padding-right: 20px;
}

.footer-buttom ul li:first-child {
  border-bottom: 1px solid var(--mainBlue4);
  margin-bottom: 10px;
  & b {
    color: var(--mainBlue5);
  }
}
/*OBS VER CODIGO ABAIXO*/
.footer-buttom ul li,
.footer-buttom ul li a,
.footer-buttom ul li i,
.footer-buttom ul li b {
  display: flex;
  color: var(--mainBlue4);
  line-height: normal !important;
  text-decoration: none;
  cursor: pointer;
}
.footer-buttom ul li i {
  background-color: var(--mainBlue1);
  height: 30px;
  width: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 15px;
  color: var(--mainBlue7);
  padding: 0;
  margin: 0;
  margin-right: 10px;
}
footer .termos-condicoes {
  background-color: var(--mainBlue5);
  text-align: center;
  padding: 20px 20px;
}
footer .termos-condicoes small {
  text-align: center;
  padding: 20px 0;
  color: white;
  font-size: 13px;
}
footer .termos-condicoes small a {
  color: white;
}

@media only screen and (min-width: 800px) {
  .footer-buttom ul {
    padding-left: 40px;
    padding-right: none;
  }
}

/*TIMELINE COSTOMISATION*/
/*TIMELINE COSTOMISATION*/
/*TIMELINE COSTOMISATION*/
/*TIMELINE COSTOMISATION*/
/*TIMELINE COSTOMISATION*/
/*TIMELINE COSTOMISATION*/
/*TIMELINE COSTOMISATION*/
/*TIMELINE COSTOMISATION*/
/*TIMELINE COSTOMISATION*/
/*TIMELINE COSTOMISATION*/
/*TIMELINE COSTOMISATION*/
/*TIMELINE COSTOMISATION*/
/* Linha principal */
.timeline {
  position: relative;
  max-width: 900px;
  margin: 0 auto;
}

/* Linha vertical */
.timeline::after {
  content: "";
  position: absolute;
  width: 4px;
  background-color: #2c3e50;
  top: 0;
  bottom: 0;
  left: 50%;
  margin-left: -2px;
}

/* Contêiner de cada evento */
.container {
  padding: 10px 40px;
  position: relative;
  background-color: inherit;
  width: 50%;
}

/* Círculo */
.container::after {
  content: "";
  position: absolute;
  width: 20px;
  height: 20px;
  right: -10px;
  background-color: white;
  border: 3px solid #2c3e50;
  top: 15px;
  border-radius: 50%;
  z-index: 1;
}

/* Lado esquerdo */
.left {
  left: 0;
}

/* Lado direito */
.right {
  left: 50%;
}

/* Caixa de conteúdo */
.content {
  padding: 20px 30px;
  background-color: white;
  position: relative;
  border-radius: 6px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
}

/* Setas */
.left::before {
  content: " ";
  height: 0;
  position: absolute;
  top: 22px;
  width: 0;
  z-index: 1;
  right: 30px;
  border: medium solid white;
  border-width: 10px 0 10px 10px;
  border-color: transparent transparent transparent white;
}

.right::before {
  content: " ";
  height: 0;
  position: absolute;
  top: 22px;
  width: 0;
  z-index: 1;
  left: 30px;
  border: medium solid white;
  border-width: 10px 10px 10px 0;
  border-color: transparent white transparent transparent;
}

/* Responsivo */
@media screen and (max-width: 600px) {
  .timeline::after {
    left: 31px;
  }

  .container {
    width: 100%;
    padding-left: 70px;
    padding-right: 25px;
  }

  .container::after {
    left: 15px;
  }

  .right {
    left: 0%;
  }
}
.promo-offer__button lord-icon {
  position: absolute;
  left: calc(100% - 40px);
  width: 116px;
  height: 116px;
  color: #fff;
}
