/*INICIO DOS ESTILOS GERAIS*/
* {
  font-family: poppins, sans-serif;
  line-height: normal;
  z-index: 1;
  color: var(--dark15);
}
html {
  scroll-behavior: smooth;
}
::-webkit-scrollbar {
  width: 4px;
}
::-webkit-scrollbar-track {
  background: #f1f1f1;
}
::-webkit-scrollbar-thumb {
  background: var(--goldBlue1);
  height: 100px;
}
::-webkit-scrollbar-thumb:hover {
  background: var(--mainBlue7);
}
:root {
  --intBlue1: #9abff5;
  --intBlue2: #81b0f3;

  --goldBlue1: #0d99ff;
  --goldBlue2: #1a73e8; /*google*/
  --goldBlue3: #1c9ad7; /*compainha propria*/
  --goldBlue4: #0694d6; /*tecnoblog*/
  --goldBlue5: #4e7efe; /*super dark blue*/

  --font-color1: var(--dark9);
  --font-color2: var(--dark12);
  --font-color3: var(--dark15);

  --bg1: #fff;
  --bg2: #f8f8f8;
  --bg3: var(--dark1);
  --bg4: #f8f9fa;

  --compyellow: rgb(247, 220, 79);
  --goldComplemento1: #f96e59;

  --font-size1: 11px;
  --font-size2: 12px;
  --font-size3: 0.96rem;
  --font-size4-padrao: 1.2rem;

  /* --mainBlue1: #ecf2f9;
  --mainBlue2: #d9e6f2;
  --mainBlue3: #c6d9ec;
  --mainBlue4: #b3cce6;
  --mainBlue5: #9fbfdf;
  --mainBlue6: #8cb3d9;
  --mainBlue7: #79a6d2;
  --mainBlue8: #6699cc;
  --mainBlue9: #538cc6;
  --mainBlue10: #4080bf;
  --mainBlue11: #3973ac;
  --mainBlue12: #336699;
  --mainBlue13: #2d5986;
  --mainBlue14: #264d73;
  --mainBlue15: #204060;
  --mainBlue16: #19334d;
  --mainBlue17: #132639;
  --mainBlue18: #0d1a26;
  --mainBlue19: #060d13;
  --mainBlue20: #000000;*/

  --mainBlue1: #e8f6fc;
  --mainBlue2: #d2ecf9;
  --mainBlue3: #bbe3f6;
  --mainBlue4: #a5d9f3;
  --mainBlue5: #8ed0f0;
  --mainBlue6: #78c6ed;
  --mainBlue7: #61bdea;
  --mainBlue8: #4ab3e8;
  --mainBlue9: #34aae5;
  --mainBlue10: #1da0e2;
  --mainBlue11: #1c9ad7;
  --mainBlue12: #1a90cb;
  --mainBlue13: #1780b5;
  --mainBlue14: #15709e;
  --mainBlue15: #126087;
  --mainBlue16: #0f5071;
  --mainBlue17: #0c405a;
  --mainBlue18: #093044;
  --mainBlue19: #06202d;
  --mainBlue21: #031017;
  --mainBlue22: #000000;

  /*GREEN*/
  --mainGreen1: #ffffff;
  --mainGreen1: #e6ffe6;
  --mainGreen2: #ccffcc;
  --mainGreen3: #b3ffb3;
  --mainGreen4: #99ff99;
  --mainGreen5: #80ff80;
  --mainGreen6: #66ff66;
  --mainGreen7: #4dff4d;
  --mainGreen8: #33ff33;
  --mainGreen9: #1aff1a;
  --mainGreen10: #00ff00;
  --mainGreen11: #00e600;
  --mainGreen12: #00cc00;
  --mainGreen13: #00b300;
  --mainGreen14: #009900;
  --mainGreen15: #008000;
  --mainGreen16: #006600;
  --mainGreen17: #004d00;
  --mainGreen18: #003300;
  --mainGreen19: #001a00;
  --mainGreen20: #000000;
  /*GREY*/
  --dark1: #ffffff;
  --dark1: #f2f2f2;
  --dark2: #e6e6e6;
  --dark3: #d9d9d9;
  --dark4: #cccccc;
  --dark5: #bfbfbf;
  --dark6: #b3b3b3;
  --dark7: #a6a6a6;
  --dark8: #999999;
  --dark9: #8c8c8c;
  --dark10: #808080;
  --dark11: #737373;
  --dark12: #666666;
  --dark13: #595959;
  --dark14: #4d4d4d;
  --dark15: #404040;
  --dark16: #333333;
  --dark17: #262626;
  --dark18: #1a1a1a;
  --dark19: #0d0d0d;
  --dark20: #000000;

  /*COMPLEMENTAR*/

  --complementar1: #ffffff;
  --complementar1: #fff7e6;
  --complementar2: #ffeecc;
  --complementar3: #ffe6b3;
  --complementar4: #ffdd99;
  --complementar5: #ffd480;
  --complementar6: #ffcc66;
  --complementar7: #ffc34d;
  --complementar8: #ffbb33;
  --complementar9: #ffb31a;
  --complementar10: #ffaa00;
  --complementar11: #e69900;
  --complementar12: #cc8800;
  --complementar13: #b37700;
  --complementar14: #996600;
  --complementar15: #805500;
  --complementar16: #664400;
  --complementar17: #4d3300;
  --complementar18: #332200;
  --complementar19: #1a1100;
  --complementar20: #000000;
}
body {
  margin: 0;
  padding: 0;
  background-color: white;
}
.hidden {
  display: none !important;
}
.cor-azul {
  color: var(--goldBlue1);
  font-weight: normal;
}
.textoOcultoNoMobile {
  display: none;
}
@media only screen and (min-width: 800px) {
  .textoOcultoNoMobile {
    display: initial; /*display:inline;*/
    color: inherit;
  }
}
/*FIM DOS ESTILOS GERAIS*/
.main {
  padding: 1% 0%;
  background-color: white;
  display: flex;
  flex-direction: column;
}
.main .head {
  background: #fff;
  padding: 10px;
  font-size: 14px !important;
  color: #212121;
  border: 1px solid #dddedf;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  width: 90%;
  max-height: 410px;
  margin: auto;
  display: flex;
  flex-direction: column;
  line-height: 135%;
  margin-bottom: 40px;
}
@media only screen and (min-width: 800px) {
  .main .head {
    width: 650px;
  }
}
.main .head h1 {
  color: var(--goldBlue4);
}
.main .head .head-head {
  background-color: var(--bg2);
  padding: 10px;
  margin-bottom: 8px;
  border-radius: 8px;
  align-items: flex-start;
}
.main .head .head-body {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  border: 1px solid #dddedf;
  border-radius: 8px;
  padding: 15px 10px 10px;
  background-color: var(--bg2);
  justify-content: center;
  overflow-y: auto;
}
.main .head .head-body .each-skill {
  background-color: white;
  padding: 10px;
  border-radius: 4px;
  width: 100%;
  text-align: center;
  margin-bottom: 5px;
}
/*COSTOMIZATION OF  CONTENT*/
.content {
  padding: 0% 10%;
  padding-bottom: 150px;
}
.content .content-head {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}
.content .content-head * {
    margin-top: 3px;
}

@media only screen and (min-width: 800px) {
  .content .content-head {
    display: flex;
    align-items: center;
    flex-direction: row;
  }
}
.content .content-head span {
  font-size: 11.3px;
  text-transform: uppercase;
  font-weight: 400;
  margin-right: 20px;
  color: var(--font-color1);
}

.citacao {
  text-transform: uppercase;
  font-weight: 400;
  margin-top: 20px;
  font-size: 12px;
  display: inline-flex;
  color: var(--font-color3);
  background-color: var(--bg2);
  padding: 10px 20px;
  border-left: 2px solid var(--goldComplemento1);
}
.content .content-head span i {
  margin-right: 5px;
}
hr {
  border-color: white;
}
.content .content-body ul li {
  display: block;
}
.content .content-body ul li i {
  margin-right: 10px;
}
/*COSTOMIZATION OF FOOTER FIXED*/
.btn-voltar {
  width: fit-content;
  border-radius: 8px;
  padding: 10px 15px;
  border: 1px solid var(--dark2);
  color: var(--goldBlue1);
  text-decoration: none;
  font-size: 14px;
  font-weight: 600;
  margin-right: 8px;
}
.main .footer {
  background: #fff;
  padding: 2px;
  font-size: 14px !important;
  color: #212121;
  border-top: 1px solid #dddedf;
  box-shadow: 0 0px 10px rgba(0, 0, 0, 0.1);
  width: 100%;
  max-height: 410px;
  display: flex;
  flex-direction: column;
  position: fixed;
  bottom: 0px;
  align-self: center;
}
.main .footer .footer-body {
  border-radius: 8px;
  display: flex;
  justify-content: center;
}
.ativo {
  background-color: var(--goldBlue3) !important;
  color: white !important;
}
.main .footer .footer-body span {
  background-color: var(--bg3);
  padding: 7px;
  margin: 3px;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 40%;
  cursor: pointer;
  text-align: center;
}
@media only screen and (min-width: 900px) {
  .main .footer .footer-body span {
    width: 20%;
  }
}
.main .footer .footer-body span small {
  color: inherit;
  font-weight: bold;
}
.main .footer .footer-body span.ativo {
  color: var(--goldBlue1);
}
.main .footer .footer-body span i {
  background-color: white;
  padding: 5px 20px;
  border-radius: 20px;
  margin-bottom: 10px;
}
.main .footer .footer-body span i.ativo {
  background-color: var(--mainBlue3);
}
